<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class ="nav-item">
        <a routerLink="/medicines" style="color: white;" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class ="nav-item">
          <a routerLink="/add-user" style="color: white;" routerLinkActive="active" class="nav-link">Sign Up</a>
      </li>
      <li class ="nav-item">
        <a routerLink="/login" style="color: white;" routerLinkActive="active" class="nav-link">User Login</a>
    </li>
      
              <li class ="nav-item">
          <a routerLink="/adminlogin" style="color: white;" routerLinkActive="active" class="nav-link">Admin Login</a>
      </li>
    </ul>
    
   
  
  </nav>
  <br>
  <!-- <h1 class="text-center">MEDICARE</h1> -->
  <div class="carousel slide" id="slider" data-ride="carousel">
    <!--indicators-->
    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/shopping.jpg">
        <div class="carousel-caption">
          <h1>MEDICARE</h1>
          <p>Best online Medicine Delivery App</p>
        </div>
      </div>
  
      <div class="carousel-item" id="slide2">
        <img src="assets/shoppin.jpg">
        <div class="carousel-caption">
          <h4>Upto 40% discounts available</h4>
          
        </div>
      </div>
  
      <div class="carousel-item" id="slide3">
        <img src="assets/shopping3.jpg">
        <div class="carousel-caption">
          
        </div>
      </div>
  
    </div>
    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><br>
  <form id="grid">
    
    <div class="container">
      <h3>Most Viewed Medicines</h3>
      <div class="row">
           <div class="col">
                  <div class="card" style="width: 300px;" style="height:400px;">
                      <img src="assets/combiflam_plus.png" class="card-img-top" height="200" style="border:1px solid purple;">
                      <div class="card-body">
                          <div class="card-title"><h4>combiflam</h4><h6>Price   : Rs.28.50</h6></div>
                          <div class="card-text"><Button class="btn btn-success"> Add to cart</Button></div>
                         
                          </div>
                  </div>
                  </div>
              <div class="col">
                  <div class="card" style="width: 300px;" style="height:400px;">
                      <img src="assets/calcium.png" class="card-img-top" height="200" style="border:1px solid purple;">
                      <div class="card-body">
                          <div class="card-title"><h4>calcium</h4><h6>Price   : Rs.20.50</h6></div>
                          <div class="card-text"><Button class="btn btn-success"> Add to cart</Button></div>
                         
                          </div>
                  </div>
                  </div>
                                   
          
          <div class="col">
              <div class="card" style="width: 300px;" style="height:400px;">
                  <img src="assets/maxtra.png" class="card-img-top" height="200" style="border:1px solid purple;">
                  <div class="card-body">
                      <div class="card-title"><h4>Matra</h4><h6>Price   : Rs.95</h6></div>
                      <div class="card-text"><Button class="btn btn-success"> Add to cart</Button></div>
    
                      </div>
                      </div>
              </div>
              </div>
         
    </div>
    <br>
    
    </form>
    
    <form id="grid">
           <div class="container">
            
        <div class="row">
          <div class="col">
            <div class="card" style="width: 300px;" style="height:400px;">
                <img src="assets/levolin-rotacaps.png" class="card-img-top" height="200" style="border:1px solid purple;">
                <div class="card-body">
                    <div class="card-title"><h4>Levolin</h4><h6>Price   : Rs.145</h6></div>
                    <div class="card-text"><Button class="btn btn-success"> Add to cart</Button></div>
                    </div>
            </div>
            </div>
                <div class="col">
                    <div class="card" style="width: 300px;" style="height:400px;">
                        <img src="assets/vitaminc.png" class="card-img-top" height="200" style="border:1px solid purple;">
                        <div class="card-body">
                            <div class="card-title"><h4>vitaminC</h4><h6>Price   : Rs.25</h6></div>
                            <div class="card-text"><Button class="btn btn-success"> Add to cart</Button></div>
                            </div>
                    </div>
                    </div>
                                     
            
            <div class="col">
                <div class="card" style="width: 300px;" style="height:400px;">
                    <img src="assets/calpol650.png" class="card-img-top" height="200" style="border:1px solid purple;">
                    <div class="card-body">
                        <div class="card-title"><h4>Calpol650</h4><h6>Price   : Rs.30</h6></div>
                        <div class="card-text"><Button class="btn btn-success"> Add to cart</Button></div>
      
                        </div>
                        </div>
                </div>
                </div>
            </div>
        
      
      
      </form>
      <footer id="footer">
        <div class="container">
          <div class="row">
              <div  class="col">
                      <div  class="card" style="width: 300px;" style="height:200px;">
                          <div id="card-body" class="card-body">
                              <div class="card-title"><h3>Contact Us</h3></div>
                              <div class="card-text"> 208 Station road<br>Ambernath,Thane<br>240-521-532<br>info@medicare.com </div>
                              </div>
                      </div>
                      </div>
                                       
                  <div  class="col">
                      <div  class="card" style="width: 300px;" style="height:200px;">
                          <div id="card-body" class="card-body">
                              <div class="card-title"><h3>Follow Us</h3></div>
                              <div class="card-text"> FaceBook<br>Instagram<br>&#169; 2021 Medicare All rights reserved</div>
                              </div>
                      </div>
                      </div>
                                       
              
              <div  class="col">
                  <div  class="card" style="width: 300px;" style="height:200px;">
                      <div id="card-body" class="card-body">
                          <div class="card-title"><h3>Hours</h3></div>
                          <div class="card-text">Tue-Sun:8am-9pm<br>Mon:Closed
        
                          </div>
                          </div>
                  </div>
                  </div>
              </div>
          </div>
        
      </footer>
  
 
  